$background-color1: #12232e;
$background-color2: #203647;
$background-color3: #007cc7;
$background-color4: #4da8da;
$theme-white: #eefbfb;





button {
  margin: 20px;
}
.custom-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/**** BTN No. 6 ****/
.btn-6 {
  width: 330px;
  height: 100px;
  line-height: 102px;
  padding: 0;
  border: none;

}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: $theme-white;
  font-size: 66px;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background:  #007cc7;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 0.1s ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 0.1s 0.2s ease;
}
.btn-6:hover:before {
  transition: all 0.1s 0.2s ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 0.1s ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background:  #007cc7;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 0.1s 0.1s ease;
}
.btn-6 span:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.btn-6 span:hover:before {
  width: 100%;
}



#logo {
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


#qhc-logo {

    margin: auto;
    margin-top: 20px;
    width: 1100px;
    min-width: 400px;
    z-index: -1;
}

@media (max-width:1100px) {
  #qhc-logo {


    width: 900px;

}

}

@media (max-width:900px) {
  #qhc-logo {


    width: 600px;

}

}
@media (max-width:600px) {
  #qhc-logo {


    width: 400px;

}

.btn-6 {
  width: 230px;
  height: 80px;
  line-height: 82px;
  padding: 0;
  border: none;

}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: $theme-white;
  font-size: 46px;
}



}



#hero-cover {
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);

}

#hero-cover div {
  text-align: center;
}


#hero-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:auto;
  width: 100%;
  max-width: 500px;
  justify-content: space-evenly;
  margin-top: 50px;
}

#hero-links  div  svg {
  width: 50px;
  height: 50px;
  fill: #ffffff;

}

#hero-links  div  svg:hover {
  fill: $background-color3;
  transition: 1s;
  transform: scale(1.1);

}





























#menu-span {
  position: absolute;
  margin: 20px 20px;
  font-size:50px; cursor:pointer; height: 100px;
  color: $theme-white;
  z-index: 5;
}




.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 5;

}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 5;

}

.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 56px;
  color: $theme-white;
  display: block;
  transition: 0.3s;
  z-index: 6;
  width: fit-content;

}

.overlay a:hover, .overlay a:focus {
 color: $background-color3;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.scroll-arrows {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 44px;
    height: 24px;
    z-index: 2;
  }
  
  .arrow {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .arrow:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .arrow:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .arrow:before,
  .arrow:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: $theme-white;
  }
  
  .arrow:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .arrow:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  

  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }















body {
    margin: 0px;
}


#hero-background{

    display: flex;
    flex-direction: row;

}



#hero-background > div:nth-child(1) {
  background-color: $background-color1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  z-index: -2;
}

#hero-background > div:nth-child(2) {
    background-color: $background-color2;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    z-index: -2;

}


.square{
    stroke-dasharray: 2804 ;
    stroke-dashoffset: -2804 ;
    animation: draw-square 3s infinite;
    animation-direction: alternate;

}

@keyframes draw-square {
    from {
        stroke-dashoffset: -2804;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.polygon {
    stroke-dasharray: 2003 ;
    stroke-dashoffset: -2003 ;
    animation: draw-polygon 3s infinite;
    animation-direction: alternate;

}

@keyframes draw-polygon {
    0% {
        stroke-dashoffset: -2003;

    }

    100% {
        stroke-dashoffset: 0;


    }
}












#hero-buttons {
    text-align: center;
    margin: 50px auto;

}

.primary-button {
    width: 150px;
    height: 50px;
    background: #4da8da;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 15px;
    color: #eefbfb;
    border: none;
}

.secondary-button {
    width: 150px;
    height: 50px;
    background: #203647;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 15px;
    color: #eefbfb;
    border: none;
}

#info-sec {

  width: 100%;
  height: 100vh;
  margin: auto;
  z-index: 123123123;
  display: flex;
  flex-direction: row;
  background-color: #00000069;

}

#info-sec > div:nth-child(1) {
  width: 50%;

}


#info-sec > div:nth-child(2) {
  width: 50%;

}

#info-sec > div > div {
  width: 80%;
  height: 80vh;
  margin: auto;

}





#info-sec > div > div > ul > a{
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  font-size: 5rem;
  color: $theme-white;
  z-index: 2;
  list-style-type: none;

}

#info-sec > div > div > ul {
  padding-top: 200px;
}






// Portfolio section

#info-section {
  background-color: $background-color1;
  height: 100vh;
}

#test-svg-curve2 {
  position: absolute;
  top: 9px;
  rotate: 90deg;
  transform: rotateX(180deg);
}


#hero-wrapper {
  max-width: 1600px;
  margin: auto;

}

#spacer {
  width: 100%;
  height: 10px;
  background: $background-color3;
}

#hero-text {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 3;
  padding-top:215px ;

}

#hero-text > div:nth-child(1) {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin: auto 10px;

}




#hero-text > div > h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 52px;
  color: $theme-white;
  text-align: center;
  margin: 25px auto;


}

#hero-text > div > p {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: $theme-white;
  margin: auto;
  text-align: center;



}




#hero-text > div:nth-child(2) {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;

}

#hero-text > div:nth-child(2) > img:nth-child(1) {
  max-width: 800px;
  width: 100%;
  margin: auto;
  z-index: 2;


}


nav {
  height: 0px;
}


#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  max-width: 500px;
}

#menuToggle a
{
  text-decoration: none;
  color: $theme-white;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $background-color3;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $theme-white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $theme-white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 110px;
  
  background: $background-color2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#portfolio-showcase {
  margin: auto;
  background: $background-color2;
}

#portfolio-showcase h1 {
  margin: 0 0 ;
  padding: 50px 0;
  text-align: center;
  color: $theme-white;
  font-family: 'Noto Serif', serif;
  font-size: 36px;

}

.portfolio-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  margin: auto;
  color: $theme-white;

}

.portfolio-item div {
  width: 50%;
  min-width: 500px;
}

.portfolio-item div img {
  width: 80%;
}

.portfolio-item div h2 a {
  color: $theme-white;
  text-decoration: none;
  font-family: 'Noto Serif', serif;
  font-size: 38px;


}
.portfolio-item div p{
  color: $theme-white;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: auto;
  font-size: 22px;


}

#icons-used {
  max-width: 600px;
  margin: 50px auto;
}

#icons-used > i {
  font-size: 2rem;
  padding: 5px;
  color: $background-color4;
}

#tms-img {
  width: 45%;
}


@media (max-width: 1016px) {

  #hero-text {
    padding-top: 200px
  }

.portfolio-item:nth-of-type(1) > div:nth-child(1) {
 order: 2;
}

.portfolio-item:nth-of-type(3) > div:nth-child(1) {
  order: 2;
 }

}

















