body {
    margin: 0px;
}

img {
    border-radius: 20%;
}

#hero-background{
    height: 100vh;
    background-color: #12232e;
    z-index: 1;
}

#hero-background > svg{
    position: absolute;
    width: 100%;
    height: auto;
    top:00px;
    transform: rotate(-180deg);
    transform: rotatex(-180deg);
    z-index: 2;
}

#hero-wrapper {
    max-width: 1600px;
    height: 100%;
    margin: auto;

}

#hero-text {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;

}

#hero-text > div:nth-child(1) {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: auto 10px;

}


#hero-text > div > h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 2px;
    color: #eefbfb;
    text-align: center;
    margin: 25px auto;
 

}

#hero-text > div > p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #eefbfb;
    margin: auto;
    text-align: center;



}


#hero-text > div:nth-child(2) {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

#hero-text > div:nth-child(2) > img:nth-child(1) {
    max-width: 900px;
    margin: auto;
    z-index: 2;


}








#hero-buttons {
    text-align: center;
    margin: 50px auto;






}

.primary-button {
    width: 150px;
    height: 50px;
    background: #4da8da;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 15px;
    color: #eefbfb;
    border: none;
}

.secondary-button {
    width: 150px;
    height: 50px;
    background: #203647;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 15px;
    color: #eefbfb;
    border: none;
}

